

.inputArea{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.inputArea div{
    border: 1px solid maroon;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.inputArea input, textarea, select{
    width: 60%;
    padding: 1%;
    margin-block: 0.5%;
}



