.loginPage{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: rgb(255,239,239);
}

.loginArea{
    width: 100%;
    height: 100%;
    flex: 1.15;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading{
    width: 80%;
    margin-top: -10%;
    padding-bottom: 2%;
}

.heading h1{
    font-size: calc(1.5vw + 0.5rem);
}

.heading p{
   color: rgba(82, 82, 82, 1) ; 
   font-size: calc(0.75vw + 0.25rem)
}


.inputArea{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-block: 2% 1%;
}

.inputArea input{
    padding: 2.5%;
    margin-block: 1.5%;
}

.buttonBox{
    width: 80%;
    height: 7%;
    margin-bottom: 2%;
}

.buttonBox button{
    background-color: rgba(237, 83, 83, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    height: 100%;
    width: 20%;
}

.toSignUp{
    width: 80%;
    display: flex;

    gap: 1%;
}

.toHome{
    width: 80%;
    display: flex;
    margin-top: 1%;
    gap: 1%;
}


.inputErrorContainer{
    height:60%;
}

.error{
    height: 5vh;
    color: red;
}











